<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Productlijst</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ngOfficeUiFabric/0.12.1/ngOfficeUiFabric.min.js"></script>
  <link href="https://localhost:8443/node_modules/office-ui-fabric/dist/css/fabric.min.css" rel="stylesheet" type="text/css">
  <link href="https://localhost:8443/node_modules/office-ui-fabric/dist/css/fabric.components.min.css" rel="stylesheet" type="text/css">    
</head>

<body>
<h3>Productlijst</h3>
<div id="container">
  <div data-ng-controller="homeController as vm">
    <div id="loading" ng-show="vm.isLoading">
      <uif-spinner>Loading...</uif-spinner>
    </div>
    <div id="entryform" ng-show="vm.isLoading === false">
      <input ng-model="vm.searchstring.$" ng-change="vm.updateFilter();" placeholder="Zoeken ..." ng-model-options="{ debounce: 1000 }" />
      <h3>items:{{vm.lijstItemsCollection.length}}</span></h3>      
    </div>    
    <uif-table ng-show="vm.isLoading === false">  
        <uif-table-row>            
            <uif-table-header uif-order-by="Name" >File name</uif-table-header>            
            <uif-table-header uif-order-by="TimeLastModified" >Modified</uif-table-header>
            <uif-table-header uif-order-by="ListItemAllFields.Document_x0020_Type" >
               <uif-dropdown ng-model="vm.searchstring.ListItemAllFields.Document_x0020_Type">
                  <uif-dropdown-option value="{{value}}" ng-repeat="(key, value) in vm.documentTypes" title="{{value}}">{{value}}</uif-dropdown-option>
               </uif-dropdown>
            </uif-table-header>
            <uif-table-header uif-order-by="ListItemAllFields.Product_x0020_Type" >                          
               <uif-dropdown ng-model="vm.searchstring.ListItemAllFields.Product_x0020_Type">
                  <uif-dropdown-option value="{{value}}" ng-repeat="(key, value) in vm.productTypes" title="{{value}}">{{value}}</uif-dropdown-option>
               </uif-dropdown>
            </uif-table-header>
        </uif-table-row>
        <uif-table-row ng-repeat="f in vm.lijstItemsCollection | filter:vm.searchstring:strict | orderBy:table.orderBy:!table.orderAsc | limitTo: 30">            
            <uif-table-cell>
              <uif-button uif-type="command" ng-href="{{f.ServerRelativeUrl}}">
                {{f.Name}}
              </uif-button>
            </uif-table-cell>            
            <uif-table-cell>{{f.TimeLastModified | date:'dd-MM-yyyy H:mm'}}</uif-table-cell>
            <uif-table-cell>{{f.ListItemAllFields.Document_x0020_Type}}</uif-table-cell>
            <uif-table-cell>{{f.ListItemAllFields.Product_x0020_Type}}</uif-table-cell>            
        </uif-table-row>
    </uif-table>  
<div >
      <uif-persona-card uif-style="round" uif-size="small" uif-presence="dnd" uif-image-url="person1.png">
        <uif-persona-card-primary-text>Voornaam Achternaam</uif-persona-card-primary-text>
        <uif-persona-card-secondary-text>Software Developer</uif-persona-card-secondary-text>
        <uif-persona-card-tertiary-text>Enschede</uif-persona-card-tertiary-text>
        <uif-persona-card-optional-text>Available - Video capable</uif-persona-card-optional-text>
        <uif-persona-card-action uif-icon="chat" uif-placeholder="regular">
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Skype:</uif-persona-card-detail-label>
            <uif-link ng-href="'sip:user@company.com'">Een Skype gesprek starten</uif-link>
          </uif-persona-card-detail-line>
        </uif-persona-card-action>
        <uif-persona-card-action uif-icon="phone" uif-placeholder="regular">
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Personal:</uif-persona-card-detail-label> 0620702023
          </uif-persona-card-detail-line>
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Work:</uif-persona-card-detail-label> 06-12345678
          </uif-persona-card-detail-line>
        </uif-persona-card-action>
        <uif-persona-card-action uif-icon="video" uif-placeholder="regular">
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Skype:</uif-persona-card-detail-label>
            <uif-link ng-href="#">Start Skype call</uif-link>
          </uif-persona-card-detail-line>
        </uif-persona-card-action>
        <uif-persona-card-action uif-icon="mail" uif-placeholder="regular">
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Personal:</uif-persona-card-detail-label>
            <uif-link ng-href="mailto:email@home.com">email@home.com</uif-link>
          </uif-persona-card-detail-line>
          <uif-persona-card-detail-line>
            <uif-persona-card-detail-label>Work:</uif-persona-card-detail-label>
            <uif-link ng-href="mailto:email@company.com">email@company.com</uif-link>
          </uif-persona-card-detail-line>
        </uif-persona-card-action>
        <uif-persona-card-action uif-icon="org" uif-placeholder="topright">
          <!-- Org chart -->
        </uif-persona-card-action>
        <uif-persona-card-action uif-placeholder="overflow">
          View profile on Delve
        </uif-persona-card-action>
      </uif-persona-card>
</div>
    
  </div>
</div>


<script src="https://localhost:8443/app/js/app.module.js"></script>
<script src="https://localhost:8443/app/js/app.config.js"></script>
<script src="https://localhost:8443/app/js/data.service.js"></script>
<script src="https://localhost:8443/app/js/home.controller.js"></script>
<script>
  angular.bootstrap(document.getElementById('container'), ['productapp']);
</script>
</body>

</html>